// Base Colors
$white: #ffffff;
$black: #000000;
$lightGray: #dadada;
$primaryGray: #aaaaaa;
$primaryDark: #484848;
$primaryBlue: #1d7ff0;
$primaryRed: #d9605a;

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;
