@import "../style/base.scss";

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba($black, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 80%;
  height: 480px;
  background-color: $white;
  padding: 48px;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.modal-header {
  font-size: 20px;
  font-weight: $semibold;
}

.modal-close {
  font-size: 12px;
  color: $primaryGray;
  cursor: pointer;
}

.modal-input {
  width: 100%;
  outline: none;
  border: none;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba($lightGray, 0);
  margin-bottom: 24px;
  transition: all 0.25s ease 0s;

  &:focus,
  &:hover,
  &:active {
    border-bottom: 1px solid $primaryBlue;
    transition: all 0.25s ease 0s;
  }
}

.modal-btn {
  outline: 0;
  border: none;
  width: 180px;
  max-width: 100%;
  background: $primaryBlue;
  color: $white;
  text-align: center;
  padding: 16px 12px;
  font-weight: $medium;
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.25s ease 0s;

  &:hover {
    opacity: 0.95;
    transform: translateY(-2.5px);
    transition: all 0.25s ease 0s;
  }
}

.modal-response {
  margin-top: 24px;
}

.error-msg {
  margin-top: 16px;
  color: $primaryRed;
  font-size: 14px;
}
