@import "../style/base.scss";

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
  text-align: center;

  // Paint Brush Background
  img {
    user-select: none;
  }

  // Elements
  div {
    margin: 12px;
  }

  // Typed
  span {
    @include primaryGradient;

    margin-top: 8px;
    font-size: 20px;
    margin-bottom: 24px;
    font-weight: $medium;
  }

  // Auth Links
  a {
    color: $primaryBlue;
    padding: 8px;
    margin-bottom: 4px;
  }
}

.home-header {
  font-weight: $semibold;
  font-size: 36px;
}

.home-snippet {
  color: $primaryGray;
}

.home-paint {
  position: absolute;
  width: 300px;
  z-index: -1;
  opacity: 0;
  filter: saturate(0.75);
  transform: rotate(45deg);
}

.home-bg {
  position: absolute;
  z-index: -1;
  width: 50%;
  min-width: 400px;
  opacity: 0.5;
  user-select: none;
}
